.App {
  text-align: center;
}

.SearchForm-wrapper{
  display: flex;
  justify-content: space-between;
}

.MoviesList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}


.navbar{
  background: #F8EDEB;
  margin-bottom: 23px;
}
.button.is-info{
  background-color: #FEC89A;
}
form{
  position: relative;
  margin-top: 8px;
}

.columnsMovies{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr;
  gap: 1em 1em;
}
.MoviesList-item{
  margin-bottom: 24px;
  width: 100%;
}

@media (max-width: 768px){
  .columnsMovies{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr;
    gap: 1em 1em;
  }
}